#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# AutoTarget module configuration
########################################
#
#    AutoTarget.Enable
#        Description: Enable the AutoTarget module
#        Default:     0 - Disabled
#                     1 - Enabled
#

AutoTarget.Enable = 1
